div.gridbox{
	overflow:hidden;
	}
div.gridbox table.hdr td {
	font-family:arial;
	font-size:12px;
	background-Color:#D0DCE0;
	border: 1px solid;
	border-color : white Gray Gray white;
	text-align: center;
	margin:0px;
	padding:5px 0px 5px 0px ;
	font-weight:normal;
    -moz-user-select:none;
	}
div.gridbox table.obj td {
	border: 1px solid;
	border-color : white Gray Gray white;
	font-family:arial;
	font-size:12px;
    -moz-user-select:none;
    overflow:hidden;
	}
div.gridbox .objbox {
	background-color:white;
	}
div.gridbox table.obj td span.space, div.gridbox table.obj td img.space{
	width:18px;
	}
div.gridbox table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#FFCC99;
	color:black;
	}
div.gridbox table.obj tr.rowselected td{
	background-color:#FFCC99;
	color:black;
	}
div.gridbox table.obj td.editable{
    -moz-user-select:text;
    color:green;
    }
.dhx_tabbar_zoneV{
   position:relative;
}
.dhx_tabbar_zoneVB{
    position:relative;
}




.dhx_tabbar_zone .dhx_tablist_zone{
  padding:5px 0px 0px 0px;
}
.dhx_tabbar_zoneB .dhx_tablist_zone{
  padding:5px 0px 0px 0px;
}
.dhx_tabbar_zoneV .dhx_tablist_zone{
  padding:0px 0px 0px 0px;
}
.dhx_tabbar_zoneVB .dhx_tablist_zone{
  padding:0px 0px 0px 0px;
  position:absolute;
}



.dhx_tabcontent_zone{
  overflow:hidden;
}
.dhx_tabbar_zone .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
}
.dhx_tabbar_zoneB .dhx_tabcontent_zone{
  border-top:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
}
.dhx_tabbar_zoneV .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-top:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
  position:absolute; top:0px;
}
.dhx_tabbar_zoneVB .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-top:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  position:absolute; top:0px;
  left:0px;
}






.dhx_tab_element div{
    font-family:Tahoma;
    font-size:8pt;
}
.dhx_tabbar_zoneB .dhx_tab_element div{
    background-position:bottom;
}
.dhx_tabbar_zoneVB .dhx_tab_element div{
    background-position:right;
}




.dhx_tab_element{
    font-family:Tahoma;
    font-size:8pt;
    text-align:center;
    cursor:pointer;
    position:absolute;

    overflow:hidden;
}
.dhx_tabbar_zone .dhx_tab_element{
    padding:3px 0px 3px 0px;
}
.dhx_tabbar_zoneB .dhx_tab_element{
    padding:0px 0px 0px 0px;

}
.dhx_tabbar_zoneV .dhx_tab_element{
    padding:0px 3px 0px 3px;
}
.dhx_tabbar_zoneVB .dhx_tab_element{
    padding:0px 0px 0px 0px;
}








.dhx_tab_element_inactive{
    font-weight:normal;
    z-Index:4;
}
.dhx_tabbar_zone .dhx_tab_element_inactive{
    margin-top:3px;
}
.dhx_tabbar_zoneB .dhx_tab_element_inactive{
    margin-top:0px;
}
 .dhx_tabbar_zoneV .dhx_tab_element_inactive{
    margin-left:3px;
}
.dhx_tabbar_zoneVB .dhx_tab_element_inactive{
    margin-left:0px;
}


.dhx_tab_element_active{
    background-color: #EEEEEE;
    font-weight:bold;
    z-Index:5;
}
.dhx_tabbar_zoneB .dhx_tab_element_active{
    margin-top:0px;
}


.dhx_tabbar_row{
    overflow:hidden;
}
.dhx_tabbar_zone .dhx_tabbar_row{
    margin-top:-5px;
    position:relative;
    }
.dhx_tabbar_zoneB .dhx_tabbar_row{
    margin-top:-5px;
    position:relative;
    }
.dhx_tabbar_zoneV .dhx_tabbar_row{
    margin-left:0px;
    top:0px;
    position:absolute;
    }
.dhx_tabbar_zoneVB .dhx_tabbar_row{
    margin-left:0px;
    top:0px;
    position:absolute;
    }






.dhx_tablist_scroll{
    position:absolute;
    top:5px;
    right:4px;
    height:15px;
    width:32px;
    z-Index:6;
    cursor:pointer;
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_scroll{
    height:32px;
    width:15px;
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_scroll{
    height:32px;
    width:15px;
}





.dhx_tablist_line{
    height:1px;
    overflow:hidden;
    background-color:#91A7B4;
    width:100%;
    position:absolute;
    left:0px;
    z-Index:4;
}

.dhx_tabbar_zoneB .dhx_tabbar_row .dhx_tablist_line{
    height:1px;
    width:100%;
    left:0px;
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_line{
    width:1px;
    height:100%;
    top:0px;
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_line{
    width:1px;
    height:100%;
    top:0px;
}

.dhx_ajax_loader{
    margin-top:20px;
    margin-left:10px;    
    font-size:10pt;
    font-family:Arial,Tahoma;
    font-weight:bold;
    vertical-align: absmiddle;
}

.defaultButtonText{
	font: 11px Arial;
	cursor:pointer;
}

.defaultbutton {
	border : solid 1px #D4D0C8;
	margin:1px;
	cursor:pointer;
}
.buttonTextDisabled {
	color: gray;
	font: 11px Arial;
}
.defaultbuttondown {
	background-color : #DBD8D1;
	border-bottom : solid 1px #FFFFFF;
	border-left : solid 1px #808080;
	border-right : solid 1px #FFFFFF;
	border-top : solid 1px #808080;
	cursor : pointer;
}

.defaultbuttonover {
	background-color : #DBD8D1;
	border-bottom : solid 1px #808080;
	border-left : solid 1px #FFFFFF;
	border-right : solid 1px #808080;
	border-top : solid 1px #FFFFFF;
	cursor : pointer;
}

.icongray {
	border : solid 1px #D4D0C8;
	cursor : default;
	filter : BlendTrans(Percent=50) gray();
}

.toolbardivider {
	background-color : #D4D0C8;
	border-left : solid #808080 1px;
	border-right : solid #FFFFFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
	width : 2px;
}

.toolbardividery {
	background-color : #D4D0C8;
	border-bottom : solid #FFFFFF 1px;
	border-top : solid #808080 1px;
	height : 2px;
	overflow : hidden;
	width : 100%;
}

.toolbarhandle {
	background-color : #D4D0C8;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 100%;
	overflow : hidden;
	width : 3px;
}

.toolbarname{
	color : #43537B;
	font : 11px 'Arial Black',Arial,sans-serif;
	letter-spacing : 3px;
	padding-left : 10px;
	padding-right : 10px;
}

.toolbartable{
	background-color : #D4D0C8;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	margin : 0px;
	-moz-user-select : none;
	padding : 0px;
	table-layout : fixed;
}

.vtoolbarhandle {
	background-color : #D4D0C8;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 3px;
}
.defaultTreeTable{
			margin : 0;
			padding : 0;
			border : 0;
}
.containerTableStyle {
	overflow : auto; 
	font-size : 12px;
}

.standartTreeRow{
	font-size : 12px;
	-moz-user-select: none; 
}

.selectedTreeRow{ 
	background-color : navy; 
	color:white; 
	font-size : 12px;
	-moz-user-select: none;  
}

.standartTreeImage{ 
	width:18px; 
	height:18px;  
	overflow:hidden; 
	border:0; 
	padding:0; 
	margin:0; 
}

.hiddenRow { 
	width:1px;   
	overflow:hidden;  
}

.dragSpanDiv{ 	
	font-size : 12px; 	
	border: thin solid 1 1 1 1; 
}
